.AnimaGrid{
	display: flex;
	flex-wrap: wrap;
	min-width: 360px;
	max-width: 80vh;
	height: 100vw;
    max-height: 80vh;
    min-height: 360px;
  }

.box {
    width: 100px;
    height:  100px;
    align-items: center;
    max-width: 80vh;
    background: #000;
 }
 
 .blue {
	background-color: blue;
}
.red {
	background-color: red;
}
.green {
	background-color: green;
}
.yellow {
	background-color: yellow;
}
.orange {
	background-color: orange;
}
  